{% extends 'base.html.twig' %}

{% block title %}/r/PHP{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1>/r/PHP</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-3">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% if posts|length > 0 %}
                {% for post in posts %}
                    <div class="col-md-8 offset-md-2">
                        <div class="card bg-light mb-3">
                            <div class="card-body">
                                <p class="card-text">Score: {{ post.data.score }}; Title: {{ post.data.title }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-md-8 offset-md-2 mb-5">
                    <h4>Can't find any posts matching your request</h4>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
